<launch>
	<!-- <node name="spat_publisher" pkg="tf" type="static_transform_publisher" args="0.2 0 0 0.1 0 3.1415 l_wrist_roll_link spatula2 50"/> -->
	<node name="spatula_publisher" pkg="tf" type="static_transform_publisher" args="0.23 0 0.01 0 -0.6 0 spatula2 spatula 50"/>
	<node name="spatula_handle_publisher" pkg="tf" type="static_transform_publisher" args="0.03 0 0 0 0 0 spatula2 spat_handle 50"/>
	<!-- <node name="spatula_handle_publisher" pkg="tf" type="static_transform_publisher" args="0.03 0 0 0 0 1.52 spatula1 spat_handle 50"/> -->
</launch>